* {
    margin: 0;
    padding: 0;
    font-family: Oswald, sans-serif
}

html {
    scroll-behavior: smooth;
}

/* Section 1 */

body, html {
    height: 100%;
  }

li img {
    width: 3.5em;
    height: 3.5em;
}

.intro {
    background-image: url("/20211211_163400.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    position: fixed;
    width: 100%;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    padding: 0.75em;
}

li {
    display: inline;  
    float: right;
    margin: 1.5em 1em 1em 1em; 
    font-weight: 800;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 105vh;
    color: white;
    font-size: 5.5rem;
}

/* section two */

embed {
    margin: 2.5em 0 2.5em 2.5em;
    width: 50%;
    height: 28em;
}

.content p {
    display: flex;
    flex-wrap: wrap;
    max-width: 35%;
    float: right;
    margin: 4vw;
    font-size: 1.2rem;
}

/* footer */

footer {
    position: relative;
    height: 100px;
    background-color: rgb(12, 12, 12);
}

footer p {
    color: white;
    font-weight: 600;
}

footer img {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    left: 48%;
    bottom: 5px;
}

#contact {
    padding: 1em;
    margin: 1em;
}

#legal-stuff {
    background-color: black;
    margin-top: -20px;
    padding: 2em;
}

/* Resizing section 2 for other screens */

@media only screen and (max-width: 992px) {
    .content p {
        font-size: 1rem;
        margin: 1em;
    }

    embed {
        margin: 0.5em 0 0.5em 0.5em;
        width: 55%;
        height: 28em;
    }
}

@media only screen and (max-width: 768px) {
    .content p {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 470px) {
    .content p {
        font-size: 0.5rem;
        margin: 0.1em;
    }
}

/* Resizing footer */

@media only screen and (max-width: 400px) {
    footer img {
        display: none;
    }
}

@media only screen and (max-width: 240px) {
    #contact {
        margin: 0;
    }

    #legal-stuff {
        background-color: black;
        margin-top: -5px;
        padding: 2em;
    }

    footer p {
        font-weight: 100;
    }
}